@font-face {
    font-family: 'Lato';
    src: url(res/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(res/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(res/Lato-Light.ttf);
}


.welcome {
    height: 30px;
    background-color: #d9e1e6;
    margin: -40px;
    position: fixed;
    width: 102%;
    z-index: 1;
}
.welcome__top-content {
    width: 1230px;
    margin: auto;
}
.top-content__text {
    margin: 9px auto;
    width: 1170px;
    text-align: center;
    color: #868f93;
    font-size: 10px;
}
.top-content__cancel {
    float: right;
    margin:  -32px 20px 0px 0px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #868f93;
}



.header {
    width: 1200px;
    height: 50px;
    margin: 40px auto;
}
.language,.logo,.cart {
    float:left;
}
.header__language {
    margin-top: 35px;
    font-size: 12px;
}
.logo {
    margin: 25px 400px 0 470px;
}
.cart__button {
    margin-top: 17px;
    border: 2px solid #ded3aa;
    width: 128px;
    height: 44px;
    background-color: #ffffff;
}


.line {
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
}

.menu,.main {
    width: 1200px;
    margin: auto;
}
.menu {
    height: 70px;

    font-size: 12px;
}
.menu__bar {
    float: left;
}
.bar__button {
    background-color: transparent;
    border: none;
    width:25px;
    height: 25px;
    margin-top: 22px;
}
.menu__nav {
    margin-left: 200px ;
    padding-top: 15px;

}
.nav__buttons {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}
.buttons__li,.buttons__li--drop {
    padding: 10px  36px;
    position: relative;
    margin: auto;
    float: left;
    font-size: 12px;

}
.buttons__li--drop a, .buttons__li a{
    display: block;
    text-decoration: none;
    color: black;
}
.menu__favorites {
    float: right;
    width: 100px;
    margin-top: 5px;
}
.favorites__wishlist,.favorites__search {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    float: left;
}
.favorites__wishlist {
    border-right: dotted 2px #999999;
    width: 40px;
    padding-right: 10px;
}
.favorites__search {
    padding-left: 10px;
    width: 30px;
}

.main {
    margin-top: 48px;
}
.main__left {
    width: 682px;
    float: left;
}
.big-image__image {
    width: 658px;
}
.thumbnails__image {
    width: 146px;
    float: left;
    margin: 21px 24px 60px 0;
}
.thumbnails__image--selected {
	opacity:0.5;
	-moz-opacity:0.5;
}
.main__right {
    width: 517px;
    float: left;
}
.right__name {
    font-size: 24px;
}
.back-url {
    text-decoration: none;
}
.fa-star {
    color: #ded3aa;
}
.fa-star.empty {
    color: #dfdfde;
}
.review__add-review {
    color: black;
}
.right__price {
    font-size: 24px;
}
.right__description {
    margin: 5px 0;
}
.order {
    float:left;
    width: 517px;
}
.order__color,.order__size {
    width: 168px;
    float: left;
    margin-right: 28px;
    margin-bottom: 40px;
}
.qty__count {
    width: 70px;
    height: 35px;
}
select {
    width: 168px;
    height: 35px;
}
.right__add-to-cart {
    font-size: 12px;
    width: 216px;
    height: 55px;
    background-color: #111111;
    border: none;
    color: #ffffff;
    margin-right: 20px;
    margin-top: 23px;
}
.right__add-to-wishlist {
    font-size: 12px;
    border: 1px #e1e1e1 solid;
    background-color: #ffffff;
    width: 226px;
    height: 55px;
}
.right__clear {
    color: black;
}
.right__social {
    margin-top: 38px;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    width: 467px;
    font-size: 12px;
}
.social__buttons {
    margin-top: -30px;
    margin-left: 50px;
}
.social__fb--like{
    margin-left: 54px;
    margin-right: 8px;
}
.social__fb--share{
    margin-right: 3px;
}
.social__tweet--like{
    margin-left: 18px;
    margin-right: 3px;
}
.social__pin--like {
    margin-left: 18px;
}

.footer {
    float: left;
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: solid 1px #e1e1e1;
    background-color: #ffffff;
    z-index: 1;
}
.footer__text {
    text-align: center;
    color: #b5b5b5;
}

.grey {
    color: #999999;
}
.blue {
    color: #68899a;
}

.lato {
    font-family: Lato;
}
.lato--bold {
    font-family: Lato-Bold;
}
.lato--light {
     font-family: Lato-Light;
}